<div class="flex items-center justify-between py-3">
  <p class="text-sm text-gray-700">
    <% if pagy.last > 1 %>
      全<%= pagy.count %>件中 <%= pagy.from %>〜<%= pagy.to %>件
    <% else %>
      全<%= pagy.count %>件
    <% end %>
  </p>
  <% if pagy.last > 1 %>
    <%== pagy.series_nav %>
  <% end %>
</div>
